*.cmake
CMakeCache.txt
CMakeFiles/
cmake-build-*/
Makefile

sprat-gui
sprat-gui_autogen/
sprat-gui-tests
sprat-gui-tests_autogen/
Testing/

.qt/

*.user
*.user.*
*.pro.user*

build/
*.o
*.obj
*.a
*.lib
*.dll
*.exp
*.pdb
*.so

.DS_Store
.idea/
.vscode/
compile_commands.json
*.qm
*.log
